<mat-toolbar color="primary" class="toolbar-header">
  <mat-toolbar-row class="top-head">
    <div class="logo">
      <p>OPTUM</p>
      <p>POC</p>
    </div>
    <span class="toolbar-spacer"></span>
    <button mat-button class="toolbar-button" [matMenuTriggerFor]="beforeMenu">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_outline"></mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <mat-label class="username">
        <mat-icon aria-hidden="false" aria-label="person" class="user-icon icon"> email </mat-icon>
        demogmail.com
      </mat-label>
      <button mat-menu-item class="logout" (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="person">logout</mat-icon> Logout
      </button>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row class="navigation web-menu" fxLayout="row" fxLayoutAlign="center">
    <a mat-button routerLink="/home" [routerLinkActive]="['is-active']">Home</a>
    <a mat-button routerLink="/aln" [routerLinkActive]="['is-active']">ALN</a>
    <a mat-button routerLink="/aln-sub" [routerLinkActive]="['is-active']">ALN Subprogram</a>
  </mat-toolbar-row>
</mat-toolbar>