<div class="admin-mgmt-container">
  <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="left"
    class="admin-mgmt-body">
    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex="100%" class="right-panel">
      <div class="indicator-container" fxLayout="column">
        <h4>The ALN below was succesfully Created</h4>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Fiscal Year : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.fiscalYear}}</p>
          </section>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Agency Code : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.alnNumber || '-'}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">ALN Number : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.alnSubProgram}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Sub Program ID : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.subProgramTitle}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Award Type : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.awardType}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Subprogram Action Type : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.subProgramTitle}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Sub Program Title : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.subProgramTitle}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Sub Program Purpose : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.subProgramPurpose}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Program Website : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.programWebsite}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Sub-Award Type : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.subAwardType}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Review Method : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.reveiwMethod}}</p>
          </section>
        </div>


        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Abstract Type : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.abstractType}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Performace Period : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.performancePeriod}}</p>
          </section>
        </div>


        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Number of Budget Periods : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.budgetPeriod}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Liquidation Period : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.liquidationPeriod}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Suspension Period : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.suspensionPeriod}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Percentage Threshold : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.percentageThreshold}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Category Code : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.categoryCode}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Grant Award Type : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{summaryGeneralData?.grantAwrdType}}</p>
          </section>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" class="section-spacing mt-10">
        <button type="button" mat-raised-button color="primary" class="medium" (click)="next()">
          <span>Next</span>
        </button>
      </div>
    </div>
  </div>
</div>