<div class="admin-mgmt-container">
  <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="left"
    class="admin-mgmt-body">
    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex="100%" class="right-panel">
      <div class="indicator-container" fxLayout="column">
        <h4>The ALN below was succesfully Approved</h4>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">ALN Tracking Number : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{confirmApproveResponse?.trackingNumber}}</p>
          </section>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">ALN Number : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{confirmApproveResponse?.alnNumber || '-'}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">ALN Title : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{confirmApproveResponse?.title}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">ALN Purpose : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{confirmApproveResponse?.purpose}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Aln Program Office Contact : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{confirmApproveResponse?.programContact}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">ALN Designator Code : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{confirmApproveResponse?.agencyCode}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">ALN Status : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{confirmApproveResponse?.status}}</p>
          </section>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Omb Submission Date : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{confirmApproveResponse?.ombSubmissionDate}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Active : </p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="value">{{confirmApproveResponse?.activeIndicator}}</p>
          </section>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-between" class="section-spacing mt-10">
          <button mat-raised-button color="primary" (click)="done()">Done</button>
          <button mat-raised-button color="primary" class="medium">
            <span>Go To Home</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>