<div class="tbl-data user">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="trackingNumber" matSortDirection="desc"
    aria-describedby="dataSource" matSortDisableClear>
    <!-- Name Column -->
    <ng-container matColumnDef="trackingNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by trackingNumber"
        class="trackingNumber" id="trackingNumber">
        ALN Tracking Number
      </th>
      <td mat-cell *matCellDef="let element" class="trackingNumber">
        {{element.trackingNumber}}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="alnNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by alnNumber" class="alnNumber"
        id="alnNumber">
        ALN Number
      </th>
      <td mat-cell *matCellDef="let element" class="alnNumber">
        {{element.alnNumber}}
      </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title" class="title"
        id="title">
        Title
      </th>
      <td mat-cell *matCellDef="let element" class="title">
        {{ element.title}}
      </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status" class="status"
        id="role">
        Status
      </th>
      <td mat-cell *matCellDef="let element" class="status">
        {{ element.status}}
      </td>
    </ng-container>

    <!-- Program Contact -->
    <ng-container matColumnDef="programContact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by programContact"
        class="programContact" id="programContact">
        Program Contact
      </th>
      <td mat-cell *matCellDef="let element" class="programContact">
        {{ element.programContact}}
      </td>
    </ng-container>

    <!-- Active Indicator -->
    <ng-container matColumnDef="activeIndicator">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by activeIndicator"
        class="activeIndicator" id="activeIndicator">
        Active Indicator
      </th>
      <td mat-cell *matCellDef="let element" class="activeIndicator">
        {{ element.activeIndicator}}
      </td>
    </ng-container>

    <!-- Agency Code -->
    <ng-container matColumnDef="agencyCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by agencyCode"
        class="agencyCode" id="agencyCode">
        Agency Code
      </th>
      <td mat-cell *matCellDef="let element" class="agencyCode">
        {{ element.agencyCode}}
      </td>
    </ng-container>

    <!-- Date Created -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by createdDate"
        class="dateCreated" id="dateCreated">
        Date Created
      </th>
      <td mat-cell *matCellDef="let element" class="dateCreated">
        {{ element.createdDate}}
      </td>
    </ng-container>

    <!-- Psuedo ALN -->
    <ng-container matColumnDef="executiveOrderIndicator">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by executiveOrderIndicator" class="psuedoAln" id="psuedoAln">
        Psuedo ALN
      </th>
      <td mat-cell *matCellDef="let element" class="psuedoAln">
        {{ element.executiveOrderIndicator}}
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="action-btns" id="action-btns">Action </th>
      <td mat-cell *matCellDef="let element" class="action-btns">

        <button mat-icon-button aria-label="icon button with edit" *ngIf="userRole === 'A89' && element.status !== 'Approved'" class="update-btn" matTooltip="Approve" (click)="approve(element)">
          <mat-icon matPrefix>done</mat-icon>
        </button>

        <button mat-icon-button aria-label="icon button with edit" *ngIf="userRole === 'A89' && element.status === 'Approved'"
          class="update-btn disabled" matTooltip="ALN is already approved">
          <mat-icon matPrefix>done</mat-icon>
        </button>

        <button mat-icon-button aria-label="icon button with edit" class="update-btn" matTooltip="Update" *ngIf="(userRole !== 'A89' && element.status ==='Draft') || (userRole === 'A89' && element.status ==='Approved')" (click)="edit(element)">
          <mat-icon matPrefix>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="icon button with edit" class="update-btn disabled" matTooltip="Update"
          *ngIf="(userRole !== 'A89' && element.status !=='Draft') || 
          (userRole === 'A89' && element.status !=='Approved')"
          >
          <mat-icon matPrefix>edit</mat-icon>
        </button>

        <button mat-icon-button aria-label="icon button with delete" class="delete-btn" matTooltip="Delete"
          (click)="delete(element)" *ngIf="element.status !== 'Approved'">
          <mat-icon matPrefix>delete</mat-icon>
        </button>

        <button mat-icon-button aria-label="icon button with delete" class="delete-btn disabled"  matTooltip="Approved records cannot be deleted" *ngIf="element.status === 'Approved'">
          <mat-icon matPrefix>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-user">No ALN Found<span class="no-user-label" *ngIf="searchQuery.length > 0">for
          <strong>{{searchQuery}}</strong></span></td>
    </tr>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"
    class="user-pagination">
  </mat-paginator>
</div>