<div class="admin-mgmt-container">
  <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="left"
    class="admin-mgmt-body">
    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex="100%" class="right-panel">
      <div class="indicator-container" fxLayout="column">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section"
          fxFlex="100%">
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">ALN Title*</p>
            <p class="value">{{createALN.alnTitle}}</p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">Agency Designator Code*</p>
            <p class="value">{{createALN.alnCode}}</p>
          </section>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="sub-section" fxFlex="100%">
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">ALN Purpose*</p>
            <p class="value">{{createALN.purpose}}</p>
          </section>
          <section fxFlex="5%"></section>
          <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
            <p class="key">ALN Program Office Contact*</p>
            <p class="value">{{createALN.programOfficeContact}}</p>
          </section>
        </div>

        <div fxLayout="column" class="section-spacing">
          <p class="key">ALN Description Document*</p>
          <p class="value">{{createALN.descriptionDocument}}</p>
        </div>

        <p class="info-text">
          <span class="key">Executive order applied for ALN : </span> <span *ngIf="createALN.executiveOrder" class="value">Yes</span><span *ngIf="!createALN.executiveOrder" class="value">No</span>
        </p>
        <div fxLayout="row" fxLayoutAlign="space-between" class="section-spacing mt-10">
          <button type="button" mat-raised-button color="primary" class="medium" (click)="previous()">
            <span>Previous</span>
          </button>
          <button type="button" mat-raised-button color="primary" class="medium" (click)="goBack()">
            <span>Cancel</span>
          </button>
          <button mat-raised-button color="primary" (click)="save()" [disabled]="isSaving">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>