<div class="admin-mgmt-container">
  <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="left"
    class="admin-mgmt-body">
    <form [formGroup]="generalSubALNForm" (ngSubmit)="generalSubALNForm.valid && save();submitted=true;" novalidate>
      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex="100%" class="right-panel">
        <div class="indicator-container" fxLayout="column">
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section" fxFlex="100%">
            <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
              <h4>Fiscal Year</h4>
              <mat-form-field appearance="outline">
                <mat-label>Fiscal Year</mat-label>
                <input matInput placeholder="Fiscal Year" name="fiscalYear" formControlName="fiscalYear" required
                  autocomplete="off">
                <mat-hint align="end" *ngIf="generalSubALNForm.controls['fiscalYear'].touched || submitted">
                  <span *ngIf="generalSubALNForm.controls['fiscalYear'].errors?.['required']">Fiscal Year is required.</span>
                </mat-hint>
              </mat-form-field>
            </section>
            <section fxFlex="5%"></section>
            <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
              <h4>Aln Sub Program*</h4>
              <mat-form-field appearance="outline">
                <mat-label>Aln Sub Program </mat-label>
                <input matInput placeholder="Aln Sub Program" name="alnSubProgram" formControlName="alnSubProgram" required autocomplete="off">
                <mat-hint align="end" *ngIf="generalSubALNForm.controls['alnSubProgram'].touched || submitted">
                  <span *ngIf="generalSubALNForm.controls['alnSubProgram'].errors?.['required']">Aln Sub Program is required.</span>
                </mat-hint>
              </mat-form-field>
            </section>
          </div>

          <div fxLayout="row" class="mt-2">
            <section fxFlex="45%" fxLayoutAlign="space-between" class="btn-spacing">
              <button type="button" mat-raised-button color="primary" (click)="previous()">Previous</button>
              <button type="button" mat-raised-button color="primary" class="medium" (click)="goBack()">
                <span>Cancel</span>
              </button>
            </section>
            <section fxFlxex="5%"></section>
            <section fxFlex="50%" fxLayoutAlign="space-between">
          
              <button type="submit" mat-raised-button color="primary" class="medium">
                <span>Continue</span>
              </button>
            </section>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>