<div class="admin-mgmt-container">
    <div class="tab" fxLayout="row" *ngIf="tabActive !== ''">
      <span class="tab-item" fxFlex="20%" [ngClass]="{'active' : tabActive =='general'}">General</span>
      <span class="tab-item" fxFlex="20%" [ngClass]="{'active' : tabActive =='programOffice'}">Program Office</span>
      <span class="tab-item" fxFlex="20%" [ngClass]="{'active' : tabActive =='reporting'}">Reporting</span>
      <span class="tab-item" fxFlex="20%" [ngClass]="{'active' : tabActive =='costSharing'}">Cost Sharing</span>
      <span class="tab-item" fxFlex="20%" [ngClass]="{'active' : tabActive =='accounting'}">Accouting</span>
      <span class="tab-item" fxFlex="20%" [ngClass]="{'active' : tabActive =='law'}">Law</span>
    </div>
    <app-edit-sub-aln-program *ngIf="tabActive == ''"></app-edit-sub-aln-program>
    <app-edit-sub-aln-program-general *ngIf="tabActive == 'general'"></app-edit-sub-aln-program-general>
    <app-edit-sub-aln-program-program-office *ngIf="tabActive == 'programOffice'"></app-edit-sub-aln-program-program-office>
    <app-edit-sub-aln-program-reporting *ngIf="tabActive == 'reporting'"></app-edit-sub-aln-program-reporting>
    <app-edit-sub-aln-program-cost-sharing *ngIf="tabActive == 'costSharing'"></app-edit-sub-aln-program-cost-sharing>
    <app-edit-sub-aln-program-accounting *ngIf="tabActive == 'accounting'"></app-edit-sub-aln-program-accounting>
    <app-edit-sub-aln-program-law *ngIf="tabActive == 'law'" [stepper]="stepper"></app-edit-sub-aln-program-law>
  </div>