<div class="admin-mgmt-container">
  <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="left"
    class="admin-mgmt-body">
    <form [formGroup]="createALNForm" (ngSubmit)="createALNForm.valid && save()" novalidate>
      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex="100%" class="right-panel">
        <div class="indicator-container" fxLayout="column">
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="section-spacing sub-section"
                      fxFlex="100%">
            <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
                <h4>ALN Title*</h4>
                <mat-form-field appearance="outline">
                  <mat-label>ALN Title</mat-label>
                  <input matInput placeholder="Enter ALN Title" name="alnTitle" formControlName="alnTitle" required autocomplete="off">
                  <mat-hint align="end" *ngIf="createALNForm.controls['alnTitle'].touched">
                    <span *ngIf="createALNForm.controls['alnTitle'].errors?.['required']">Aln title is required.</span>
                  </mat-hint>
                </mat-form-field>
            </section>
            <section fxFlex="5%"></section>
            <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
              <h4>Agency Designator Code*</h4>
              <mat-form-field appearance="outline">
                <mat-label>Select an option</mat-label>
                <mat-select formControlName="alnCode">
                  <mat-option *ngFor="let code of agencyDesignatorCodes" value="{{code}}">{{ code }}</mat-option>
                </mat-select>
                <mat-hint align="end" *ngIf="createALNForm.controls['alnCode'].touched">
                  <span *ngIf="createALNForm.controls['alnCode'].errors?.['required']">Agency Designator Code is required.</span>
                </mat-hint>
              </mat-form-field>
            </section>
          </div>

          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="sub-section" fxFlex="100%">
            <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
              <h4>ALN Purpose*</h4>
              <mat-form-field appearance="outline">
                <mat-label>ALN Purpose</mat-label>
                <input matInput placeholder="Enter ALN Title" name="purpose" maxlength="256" required formControlName="purpose" autocomplete="off">
                <mat-hint align="end" *ngIf="createALNForm.controls['purpose'].touched">
                  <span *ngIf="createALNForm.controls['purpose'].errors?.['required']">Purpose is required.</span>
                </mat-hint>
              </mat-form-field>
            </section>
            <section fxFlex="5%"></section>
            <section fxLayout="column" fxFlex="45%" fxFlex.sm="100%" fxFlex.xs="100%">
              <h4>ALN Program Office Contact*</h4>
              <mat-form-field appearance="outline">
                <mat-label>ALN Program Office Contact</mat-label>
                <input matInput placeholder="Enter ALN Title" name="programOfficeContact" formControlName="programOfficeContact" required autocomplete="off">
                <mat-hint align="end" *ngIf="createALNForm.controls['programOfficeContact'].touched">
                  <span *ngIf="createALNForm.controls['programOfficeContact'].errors?.['required']">Purpose is required.</span>
                </mat-hint>
              </mat-form-field>
            </section>
          </div>

          <div fxLayout="column" class="section-spacing">
            <h4>ALN Description Document*</h4>
            <div fxLayout="row">
              <section fxLayout="column" fxLayoutAlign="center center" class="upload-image">
                <mat-icon color="primary" aria-label="Add">add</mat-icon>
                <mat-label>Upload Document</mat-label>
                <input type="file" class="upload-file"
                  accept="*" (change)="selectFile($event)" required/>
                
                
              </section>
            </div>
            <small class="mt-2" *ngIf="selectedFile != null">{{selectedFile.name}}</small>
          </div>

          <p class="info-text">
            <mat-checkbox color="primary" value="1" formControlName="executiveOrder">
              Executive order applied for ALN
            </mat-checkbox>
          </p>
          <div fxLayout="row">
            <section fxFlex="45%" fxLayoutAlign="space-between" class="btn-spacing">
              <button type="button" mat-raised-button color="primary" (click)="previous()">Previous</button>
              <button type="button" mat-raised-button color="primary" class="medium" (click)="goBack()">
                <span>Cancel</span>
              </button>
            </section>
            <section fxFlxex="5%"></section>
            <section fxFlex="50%" fxLayoutAlign="space-between">
              <button type="button" mat-raised-button color="primary" [disabled]="isSaving" (click)="saveasDraft()">
                <span *ngIf="!isSaving">Save as Draft</span>
                <span *ngIf="isSaving">Saving...</span>
                
              </button>
              <button type="submit" mat-raised-button color="primary" class="medium">
                <span>Continue</span>
              </button>
            </section>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>