@mixin admin-layout {
  .admin-mgmt-header {
    box-shadow: 2px 2px 5px rgb(109 105 105 / 15%);
    background: #eaeaea;
    padding: 0rem 1rem;
    position: relative;
    min-height: 50px;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;

    @media(max-width: 959px) {
      min-height: inherit;
    }

    h1 {
      align-items: center;
      display: flex;
      font-size: 1.2rem;
      font-weight: 500;
      margin: 0;
    }

    button+button {
      margin-left: 1rem;

      @media(max-width: 959px) {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }

  .admin-mgmt-container {
    height: 100%;
    min-height: 0;
  }

  .admin-mgmt-body {
    height: calc(100% - 75px);
    background: var(--app-body-bg-color);

    @media(max-width: 959px) {
      height: auto;
    }
  }

  /* new layout css */

  .admin-mgmt-body {
    height: 100%;
    background: var(--app-body-bg-color);

    @media(max-width: 959px) {
      height: auto;
    }
  }

  textarea {
    resize: none;
    min-height: 4rem;
  }

  .left-panel {
    //background: var(--primary-text-color);
    //box-shadow: 4px 4px 25px rgb(109 105 105 / 15%);
    box-sizing: border-box;
    position: relative;
    /*background: var(--primary-text-color) url(../../assets/images/navbar-img-bg.jpg) no-repeat bottom;*/
    background-size: cover;
    margin-right: 1rem;

    h3 {
      background: var(--table-header);
      border-right: 5px solid var(--primary-color);
      font-size: 1rem;
      font-weight: 500;
      padding: 0.5rem 1rem;
    }

    .left-panel-inner {
      //background: white;
      color: black;
      height: 100%;

      &::before {
        bottom: 0;
        clip-path: polygon(0 70%, 56% 80%, 100% 50%, 100% 100%, 61% 100%, 35% 100%, 0 100%);
        content: '';
        height: 22%;
        opacity: 0.5;
        position: absolute;
        width: 100%;
        z-index: 100;

        @media(max-width: 959px) {
          display: none;
        }
      }
    }
  }

  .right-panel {
    padding: 1rem;
    background: var(--app-body-bg-color);
    box-sizing: border-box;

    @media(max-width: 959px) {
      overflow-y: hidden;
      height: 100%;
      flex: 0 0 100% !important;
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0;
    }

    .content-section {
      h1 {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      h2 {
        font-size: 0.85rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      h3 {
        font-size: 0.75rem;
      }
    }

    .no-data-added {
      font-size: 1rem;
      font-weight: 500;
      padding: 8rem 0;
    }
  }

  .right-panel:hover {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--table-header);
      border-radius: 8px;
    }
  }

 .mat-mdc-cell,
 .mat-mdc-table .mat-mdc-header-cell {
    border-bottom: none!important;
  }

  .search-form {
    box-sizing: border-box;
    width: 75%;

    h1 {
      display: inline-flex;
      margin-right: 1rem;
      width: 40%;
    }

    .user-search {
      height: 65px;
      width: 43%;
    }

    .mdc-text-field--outlined .mat-mdc-form-field-infix,
    .mdc-text-field--no-label .mat-mdc-form-field-infix {
      padding-top: 5px!important;
      padding-bottom: 5px!important;
    }

    @media(max-width: 959px) {
      width: 100%;
      margin-bottom: 1rem;

      h1 {
        margin: 0;
        width: 100%;
      }

      .user-search {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .filer-role-section {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    padding-right: 0px;
    padding-top: 6rem;

    p {
      padding-bottom: 29px;
      padding-top: 28px;
      text-align: center;
      cursor: pointer;
      background-color: white;
      color: #8f8f8f;
    }

    p.active {
      background-color: #3a9bdc;
      color: white!important;
      position: relative;
    }

    p.active::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -77px;
      transform: translateY(-50%);
      border: 39px solid transparent;
      border-left-color: #3a9bdc;
    }

    h1 {
      display: inline-flex;
      margin-right: 1rem;
    }
  }

  .tbl-data {
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0;
    }

    @media(max-width: 959px) {
      overflow-x: auto;
      width: 59rem;
    }
  }

  .tbl-data:hover {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--table-header);
      border-radius: 8px;
    }
  }

  .tbl-data table {
    width: 100%;
    background: transparent;
  }

  .tbl-data table .mat-header-cell {
    color: var(--cap-primary-dark-text);
    font-size: 0.9rem;
  }

  th.mat-header-cell,
  td.mat-cell {
    align-items: center;
    display: flex;
    min-height: 56px;
    border-bottom: 0;
  }

  .tbl-data table tr.mat-row:nth-child(even) {
    background: var(--tab-active-color);
  }

  .tbl-data .checkbox {
    flex: 0 0 3rem;
    padding: 0 0 0 1rem;
  }

  .tbl-data .trackingNumber {
    flex: 0 0 12rem;
    padding: 0 1rem 0 1rem;
    word-break: break-word;
  }

  .tbl-data .alnNumber {
    flex: 0 0 7rem;
    padding: 0 1rem 0 0;
    word-break: break-word;
  }

  .tbl-data .title {
    flex: 0 0 5rem;
    word-break: break-word;
    padding: 0 1rem 0 0;
  }

  .tbl-data .status {
    flex: 0 0 8rem;
    word-break: break-word;
    padding-right: 1rem;
  }

  .tbl-data .programContact {
    flex: 0 0 8rem;
    word-break: break-word;
    padding-right: 1rem;
  }

  .tbl-data .activeIndicator {
    flex: 0 0 10rem;
    word-break: break-word;
    padding-right: 1rem;
  }

  .tbl-data .agencyCode {
    flex: 0 0 8rem;
    word-break: break-word;
    padding-right: 1rem;
  }

  .tbl-data .dateCreated {
    flex: 0 0 8rem;
    word-break: break-word;
    padding-right: 1rem;
  }

  .tbl-data .psuedoAln {
    flex: 1 1 auto;
    word-break: break-word;
    padding-right: 1rem;
  }



  .tbl-data .action-btns {
    flex: 0 0 10rem;
  }

  .tbl-data mat-row,
  mat-header-row,
  mat-footer-row {
    margin-bottom: 0.5rem;
    background: var(--table-header);
    border: 1px solid var(--table-header);
    
  }

    mat-header-row {
      color: white;
    }

  .tbl-data thead mat-row,
  mat-header-row,
  mat-footer-row {
    margin-bottom: 0;
    background: var(--table-header);
    border: 1px solid var(--table-header);
  }

  .tbl-data mat-row:nth-child(odd) {
    background: var(--primary-text-color);
  }

  .tbl-data mat-row:nth-child(even) {
    background: var(--table-odd);
  }

  .user-pagination.mat-paginator,
  .user-pagination .mat-paginator-container {
    color: var(--cap-primary-dark-text);
    font-size: 0.8rem;
  }

  .delete-btn,
  .mat-icon.mat-accent {
    color: var(--button-icon-color);
    opacity: 84%;
  }

  .delete-btn {
    color: #db2525;
  }

  .update-btn {
    color: #29ad0f;
  }
}

.done {
  color: var(--table-header-gradient-color-shade-3);
}

.close {
  color: var(--primary-red);
}

.update-btns {
  padding: 0 1rem 1rem 1rem;
  margin-top: -1rem;
}

.footer-btns {
  padding: 1rem 0;

  button {
    min-width: 7rem;
  }

  button+button {
    margin-left: 1rem;
  }
}

::ng-deep .content-section .mat-form-field-appearance-outline .mat-form-field-wrapper {
  background: var(--primary-text-color);
  border-radius: 0.4rem;
  margin: 0.5rem 0;
  resize: none;
}

form {
  width: 100%;
}

.mat-option.mat-active {
  background: none !important;
}

.error {
  color: var(--primary-red);
}

.disable-pointer-events {
  cursor: not-allowed !important;
  pointer-events: none;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #3a9bdc;
  width: 10rem;
}