<mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Update Sub Aln</ng-template>
        <app-edit-sub-aln [stepper]="stepper" *ngIf="sectionActive == 'update'"></app-edit-sub-aln>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Summary</ng-template>
        <app-sub-aln-summary [stepper]="stepper" *ngIf="sectionActive == 'summary'"></app-sub-aln-summary>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Confirm</ng-template>
        <app-sub-aln-confirm [stepper]="stepper" *ngIf="sectionActive == 'confirm'"></app-sub-aln-confirm>
    </mat-step>
</mat-stepper>